th, td {
    /* border: 2px solid aquamarine; */
    padding: 5px
  }

  body {
    font-family: sans-serif;
  }

  p {
    margin: 0px;
  }
  
  article {
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
  }


  table {
    width: 75%;
    border-spacing: 5px;
    border-collapse: collapse;
    margin-top: 50px;
  }
  
  .cerrar-formulario-nuevo-usuario {
    display: flex;
    justify-content: end;
  }

  .formulario-nuevo-usuario {
    display: none;
    background-color: cadetblue;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 200px;
    top: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  }
  /* .col-email {
    width: 700px
  } */
  
  
  /* tr:nth-child(odd) {
    background-color: aquamarine;
  } */
  
  tr {
    border-bottom: 1px solid gray;
  }
  
  /* tr:hover {
    background-color: aqua;
  } */



input {
    margin: 5px;
}

